!!!
html
  head
    title= title
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    link(rel='stylesheet/less', href='/stylesheets/style.less')
  body
    p #{numVideos} videos
    p last gathered at #{lastRefresh}
    p #{numConnections} viewers
