<html>
<head>
<title><%= title %></title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel='stylesheet/less' href='/stylesheets/style.less'>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<style>
img {
    width: 200px;
}
</style>
<p> <%= numVideos %> videos</p>
<p> last gathered at <%= lastRefresh %></p>
<p> <span id="viewer-count">--</span> viewers</p>
<p> last video held: </p>
<img id="last-img" src="">
<script>
var socket = io.connect();
socket.on('num_viewers', function(data) {
    $('#viewer-count').text(data);
});
socket.on('held', function(data) {
    $('#last-img').attr('src', 'http://img.youtube.com/vi/' + data + '/0.jpg');
});
</script>
</body>
</html>
