<html>
<head>
<title>Astronaut</title>
<meta name="keywords" content="videos home, home movie videos, home made videos, home clips videos, funniest home videos, americas home videos, free home videos, videos de raw, america home videos, home x videos, wwe raw videos, american astronaut, the unseen video, astronaut pictures, my home videos, astronaut training, coming home videos, raw video clips, smackdown vs raw videos, raw black videos
home videos show, making home videos, home and away videos, astronaut aliens, 1000 home videos, america funniest home videos episodes, wwe home videos, mtv home videos, unseen videos of actress, home videos cartoon, pbs home videos, moserbaer home videos, the world unseen videos, this week raw videos, worlds funniest home videos, home videos adult swim, home mae videos, excel home videos, home amde videos, unseen youtube videos, roadies unseen videos
">
<meta name="description" content="Home videos from the past week">
<meta name="author" content="James Thompson and Andrew Wong" />
<meta charset="UTF-8" />
<link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
<link rel="shortcut icon" href="/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
<script>
  var config = {
    <%if (vid) { %>
      sharedVid: {
        id: "<%= vid.id %>",
        viewCount: <%= vid.viewCount %>,
        uploaded: "<%= vid.uploaded %>"
      },
    <% } %>
      host: "<%= host %>"
    };
</script>
<script type="text/javascript" src="/javascripts/handlebars-v2.0.0.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/javascripts/smoothplayer.js"></script>
<script type="text/javascript" src="/javascripts/remote.js"></script>
<script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/ulb4kxw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<style>

#summary {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  background: rgba(30,35,40,0.9);
  display: none;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 3;
  text-align: center;
}
#summary h1 {
  color: white;
  text-transform: uppercase;
  font-size: 19pt;
  padding: 50px;
}
#summary ul {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.thumb-container {
  display: inline-block;
  margin: auto;
}

.thumb {
  position: relative;
  width: 160px;
  height: 200px;
  display: inline-block;
  margin: 20px;
}
.thumb img {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border:1px solid #;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 13px;
}
.thumb p {
    color: white;
    font-size: 12;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    padding-bottom: 2px;
}
.thumb .viewCount {
  color: white;
}
.thumb .uploaded {
  color: white;
}
.thumb .action {
  color: white;
}

</style>

<body onbeforeunload=javascript:onExit()>

<div id="bottom-section">

  <div id="mute">((( SOUND )))</div>

  <div id="headline-container">
    <div id="headline"><span>Astronaut</span></div>
  </div>
  <div id="description">
    <span>
      <p>Today, you are an astronaut. You are floating in inner space 100 miles above the surface of Earth. You peer through your telescope and this is what you see. You are people watching. These are fleeting moments.</p>

      <p>Press <code>esc</code> to begin. These videos come from YouTube. They were uploaded some time in the past week and have titles like <code>DSC</code> <code>1234</code> and <code>IMG</code> <code>4321</code>. Most have fewer than five (5) views. They are unnamed, unedited, and unseen by anyone but you.</p>

      <p>The controls are simple. If you like a video and wish it not to switch, you can press down <span class="inline-icon hold"></span>. If a video switches before you’ve a chance to press hold, you can press the back <span class="inline-icon back"></span> which will return to and hold the previous video. You can return to the live stream by pressing right <span class="inline-icon live"></span>. <strike>You will also notice a share button <span class="inline-icon share"></span> located to the right of the video controls. This allows you to share the presently playing video.</strike></p>

      <p>As a convenience, use the following keyboard shortcuts: The <code>down</code> arrow maps to the hold button; the <code>left</code> arrow maps to the back button; and the <code>right</code> arrow maps to the live stream button. Pressing <code>m</code> will mute the video.</p>

      <p>For those of you with friends in faraway places, you can take advantage of Astronaut’s <code>Global Synchronization Capability</code>. Have your friend open Astronaut on their own computer. You’ll be pleased to find that their live stream is synchronized with yours. Enjoy a shared moment.</p>

      <p>Thank you for using Astronaut. Astronaut was made in San Francisco by James Thompson and Andrew Wong. Please <a href="mailto:astrojams1@gmail.com,wongavision@gmail.com">write us</a> with your feedback, comments, and sightings. Also, if you enjoy Astronaut, please share it with a friend</p>

      <a href="https://github.com/wonga00/astronaut" target="_blank" class="control-button" id="share-app">github</a>
    </span>
  </div>

  <div id="footer">Made since 2011 by <a href="http://www.jham.es">James Thompson</a> and <a href="http://wonga.io">Andrew Wong</a>
  </div>
</div>

<div id="top-section">
  <div id="smooth-container">
    <div id="smooth"></div>
  </div>
  <div id="buttons-container">
    <div id="buttons">
      <div class="control-button" id="back" data-toggle="tooltip">
        <div class="icon"></div>
      </div>
      <div class="control-button" id="hold" data-toggle="tooltip">
        <div class="icon"></div>
      </div>
      <div class="control-button" id="live" data-toggle="tooltip">
        <div class="icon"></div>
      </div>
      <a class="control-button" id="share-video" toggle="tooltip">
        <div class="icon"></div>
      </a>
    </div>
  </div>
</div>

<div class="tooltip-container"></div>
<div id="summary"></div>

<script id="summary-template" type="text/x-handlebars-template">
  <h1 id="summary-title">M U T E D</h1>
  <p style="color:white">Videos from the most recent past:</i></p>
  <div class='thumb-container'>
    {{#each videos}}
      <div class="thumb">
        <img src="http://img.youtube.com/vi/{{ id }}/0.jpg">
        <p class="viewCount">{{ viewCount }} views on YouTube</p>
        <p class="Uploaded {{uploaded-class}} ">{{ uploaded }}</p>
        <p class="action">{{ action }}</p>
      </div>
     {{/each}}
  </div>
</script>

<script type="text/javascript">
  function goFullscreen(id, cb) {
    // Get the element that we want to take into fullscreen mode
    var element = document.getElementById(id);

    // These function will not exist in the browsers that don't support fullscreen mode yet,
    // so we'll have to check to see if they're available before calling them.

    if (element.mozRequestFullScreen) {
      // This is how to go into fullscren mode in Firefox
      // Note the "moz" prefix, which is short for Mozilla.
      element.mozRequestFullScreen();
    } else if (element.webkitRequestFullScreen) {
      // This is how to go into fullscreen mode in Chrome and Safari
      // Both of those browsers are based on the Webkit project, hence the same prefix.
      element.webkitRequestFullScreen();
   }
  }

</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37464803-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
