<html>
<head>
<title>Prototype Model No.2</title>
<meta name="description" content="A feed of the present." />
<meta name="author" content="James Thompson and Andrew Wong" />
<meta charset="UTF-8" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="shortcut icon" href="/favicon.ico">

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/javascripts/smoothplay3.js"></script>
<script type="text/javascript" src="/javascripts/remote.js"></script>

</head>

<body onbeforeunload=javascript:onExit()>



<div id="smooth"></div>

<div id="bedazzle">
<div id="mute">((( SOUND )))</div>
</div>

<table id="buttons">
<td id="back"><<< BACK</td>
<td id="hold">>> HOLD <<</td>
<td id="live">LIVE >>></td>
</table>

<div id="footer">Copyright 2011, <a href="http://www.jham.es">James Thompson</a> and <a href="http://wonga.io">Andrew Wong</a> >> <a href="mailto:astrojams1@gmail.com,wongavision@gmail.com">feedback</a></div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37464803-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
