<html>
<head>
<title>Astronaut</title>
<meta name="keywords" content="videos home, home movie videos, home made videos, home clips videos, funniest home videos, americas home videos, free home videos, videos de raw, america home videos, home x videos, wwe raw videos, american astronaut, the unseen video, astronaut pictures, my home videos, astronaut training, coming home videos, raw video clips, smackdown vs raw videos, raw black videos
home videos show, making home videos, home and away videos, astronaut aliens, 1000 home videos, america funniest home videos episodes, wwe home videos, mtv home videos, unseen videos of actress, home videos cartoon, pbs home videos, moserbaer home videos, the world unseen videos, this week raw videos, worlds funniest home videos, home videos adult swim, home mae videos, excel home videos, home amde videos, unseen youtube videos, roadies unseen videos
">
<meta name="description" content="Home videos from the past week">
<meta name="author" content="James Thompson and Andrew Wong" />
<meta charset="UTF-8" />
<link href="/webfonts/ss-gizmo.css" rel="stylesheet" />
<link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
<link rel="shortcut icon" href="/favicon.ico">
<script>
  var config = {sharedVid: "<%= vidId %>", host: "<%= host %>"};
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/javascripts/smoothplayer.js"></script>
<script type="text/javascript" src="/javascripts/remote.js"></script>
<script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/ulb4kxw.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<!--TODO
- Re-add google analytics
-->

<body onbeforeunload=javascript:onExit()>

  <!--VIDEO-->
  <div id="smooth"></div>

  <!--CONTROLS-->
  <div id="controls">
    <div class="control-button" id="power-button" data-toggle="tooltip">
      <div class="icon ss-icon">globe</div>
    </div>
    <div id="button-group">
      <div class="control-button" id="back" data-toggle="tooltip">
        <div class="icon ss-icon">previous</div>
      </div>
      <div class="control-button" id="hold" data-toggle="tooltip">
        <div class="icon ss-icon">stop</div>
      </div>
      <div class="control-button" id="live" data-toggle="tooltip">
        <div class="icon ss-icon">next</div>
      </div>
    </div><!--END button-group-->
    <div id="control-status" class="label">
      <div id="control-status-dot" class="live"></div>
      <div id="control-status-message">Live Stream</div>
    </div>
    <div class="control-button" id="share-video" toggle="tooltip">
      <div class="icon ss-icon">upload</div>
    </div>
  </div><!--END controls-->
  <div id="controls-background"></div>

<!--TOOLTIP-->
<div class="tooltip-container"></div>

</body>
</html>
