<!DOCTYPE html>
<html>
<title>Astronaut</title>
<meta name="keywords" content="videos home, home movie videos, home made videos, home clips videos, funniest home videos, americas home videos, free home videos, videos de raw, america home videos, home x videos, wwe raw videos, american astronaut, the unseen video, astronaut pictures, my home videos, astronaut training, coming home videos, raw video clips, smackdown vs raw videos, raw black videos
home videos show, making home videos, home and away videos, astronaut aliens, 1000 home videos, america funniest home videos episodes, wwe home videos, mtv home videos, unseen videos of actress, home videos cartoon, pbs home videos, moserbaer home videos, the world unseen videos, this week raw videos, worlds funniest home videos, home videos adult swim, home mae videos, excel home videos, home amde videos, unseen youtube videos, roadies unseen videos
">
<meta name="description" content="A feed of the present">
<meta name="author" content="James Thompson and Andrew Wong" />

<script type="text/javascript" src="javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/smoothplayer3.js"></script>
<link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="shortcut icon" href="/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>

<style>

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    background: rgba(30, 35, 40, 0.9);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 3;
}

#links {
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    font-size: 12px;
    padding: 10px;
    font-weight: 100;
}

#links a {
    color: #aaa;
}

#intro h1 {
    font-size: 30pt;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: center;
}
#intro .message p {
    text-align: justify;
}

#smooth-container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 960px;
    height: 540px;
    opacity: 0;
    text-align: center;
}
#player {
    display: relative;
    background-color: @primary-accent;
    width: 960px;
    height: 540px;
}

.message {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 400px;
    height: 400px;
}

.message p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 100;
    text-align: left;
}

.message p a {
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

a.boxclose{
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    color: #eee;
    font-size: 28px;
    display: inline-block;
    font-weight: 100;
    line-height: 0px;
}

.boxclose:before {
    content: "×";
}

.button {
    margin-top: 15px;
    display: inline-block;
    font-size: 18px;
    border: 1px solid #eee;
    padding: 16px 18px;
    color: #eee;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
}

#control-btn {
    width: 20px;
    height: 20px;
    border: 3px solid #eee;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;

    cursor: pointer;
}
.hold {
    background: rgba(255, 180, 180, 0.6);
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(https://raw.githubusercontent.com/wonga00/astronaut/master/public/images/earth.jpg) no-repeat;
    background-size: cover;
}

</style>


<body>
<video playsinline autoplay="" muted loop id="bgvid">
    <source src="https://raw.githubusercontent.com/wonga00/astronaut/master/public/images/earth.mp4#t=50,283" type="video/mp4">
</video>

<audio loop src="https://raw.githubusercontent.com/wonga00/astronaut/master/public/audio/debussy.mp4" preload="auto"></audio>
<div id="smooth-container">
    <div id="player"></div>
    <div id="control-btn"></div>
</div>
ll
<div id="intro" class="overlay">
    <div class="message">
        <h1>Astronaut</h1>
        <p>Today, you are an Astronaut. You are floating in inner space 100 miles above the surface of Earth. You peer through your window and this is what you see. You are people watching. These are fleeting moments.</p>

        <p>These videos come from YouTube. They were uploaded in the last week and have titles like <code>DSC 1234</code> and <code>IMG 4321</code>. They have almost zero previous views. They are unnamed, unedited, and unseen by anyone but YOU.</p>

        <p>The Astronaut video stream starts when you press <code>GO</code>. Videos change periodically. If you wish to linger, tap the button.</p>

        <a class="button" id="go-btn" href="#">GO</a>
    </div>
</div>

<div class="overlay hidden" id="about">
    <div class="message">
        <a href="#" class="boxclose"></a>
        <p>Astronaut was created by <a target="_blank" href="https://twitter.com/wongavision">Andrew Wong</a> and <a target="_blank" href="https://twitter.com/astrojams1">James Thompson</a> on a sunny day in San Francisco in 2011. </p>

        <p>Beautiful footage of our earth is provided by the <a target="_blank" href="https://eol.jsc.nasa.gov/">Earth Science and Remote Sensing Unit, NASA Johnson Space Center</a>, and assembled together by <a target="_blank" href="https://vimeo.com/40237562">Tom King</a>.</p>

        <p>Soundtrack provided by Claude Debussy's Claire de Lune on the album Play﹠Pause: Love.</p>
    </div>
</div>

<div id="links">
    <a href="#" id="about-btn">about</a>
</div>

<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var sp;

    function onYouTubeIframeAPIReady() {
        sp = new SmoothPlayer('player', {
                width: '960px',
                height: '540px',
                onStart: function() {
                    $("#smooth-container").animate({opacity: 1}, 2000);

                    bindPages([
                        ['#about-btn', '#about']
                    ], sp);


                    $('#intro a').animate({opacity: 1}, 1000);
                },
                onResume: function() {
                    refreshControlButton();
                },
                onReady: function() {
                    var socket = io.connect();
                    sp.mute();
                    toggleIntro(true);
                    socket.on('video', function(data) {
                        sp.play(data.video.id);
                    });
                }
            });
    }

    function hold() {
        sp.hold();
        refreshControlButton();
    }
    function back() {
        sp.goBack();
        refreshControlButton();
    }
    function resume() {
        sp.resume();
        refreshControlButton();
    }

    function refreshControlButton() {
        var playerState = sp.playerState();
        if (playerState === 'hold') {
            $('#control-btn').toggleClass('hold', true);
        } else if (playerState === 'back') {
            $('#control-btn').toggleClass('hold', true);
        } else {
            $('#control-btn').toggleClass('hold', false);
        }
    }

    $('#control-btn').click(function() {
        if (sp.playerState() =='live') {
            hold();
        } else {
            resume();
        }
    });

    var inTheaterMode = false;
    function theaterMode(on) {
        var a = document.getElementsByTagName("audio")[0];
        if (on) {
            $('#control-btn').css('display', 'none');
            a.currentTime = 8;
            a.play();
            sp.resume();
            sp.mute();
        } else {
            $('#control-btn').css('display', 'inline-block');
            a.pause();
            sp.unMute();
        }
        inTheaterMode = on;
    }

    //this is the listener for keypresses
    $('body').keydown(function(event) {
        if (event.which == 32) { // 'space'
            theaterMode(!inTheaterMode);
        }
        else if (event.which == 37) { // 'left'
            back();
        }
        else if (event.which == 40) { // 'down'
            hold();
        }
        else if (event.which == 39) { // 'right'
            resume();
        } else if (event.which == 27) { // 'escape'
            toggleIntro(true);
        }
    });


    function toggleIntro(on) {
        if (on) {
            $('#intro').css({display: "inline-block", opacity: 1});
            sp.mute();
            $('#control-btn').css('display', 'none');
        } else {
            $('#intro').css("display", "none");
            sp.unMute();
            $('#control-btn').css('display', 'inline-block');
        }
    }

    function loopVideo(elem, start, end) {
        elem.currentTime = start;
        elem.play;
        elem.addEventListener('timeupdate', function () {
            if (elem.currentTime >= end) {
                elem.currentTime = start;
                elem.play();
            }
        }, false);
    }

    function showIfMove(element, duration) {
        var timer,
            duration = duration || 2000;

        $(element).css("display", "none");

        $('body').mousemove(function() {
            if (timer) {
                clearTimeout(timer);
            }
            $(element).css({display: "inline-block", opacity: 1});
            timer = setTimeout(function() {
                $(element).animate({opacity: 0}, 400, function() {
                    $(element).css("display", "none");
                });
            }, duration)
        });
    }

    function bindPages(pages, sp) {
        function showPage(page) {
            pages.forEach(function(pageLink) {
                $(pageLink[1]).toggleClass('hidden', pageLink[1] !== page);
            });

            sp.mute();
        }

        function hidePages() {
            pages.forEach(function(pageLink) {
                $(pageLink[1]).toggleClass('hidden', true);
            });

            sp.unMute();
        }

        pages.forEach(function(p) {
            $(p[1]).toggleClass('hidden', true);
            $(p[0]).click(function() {
                showPage(p[1]);
            })
            $(p[1] + ' .boxclose').click(function() {
                hidePages();
            })

        })
    }

    $('#go-btn').click(function() {
        $('#intro').animate({opacity: 0}, 400, function() {
            toggleIntro(false);
        });

        showIfMove('#links');
    });

    loopVideo($('video')[0], 50, 283);

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37464803-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
